.home {
  height: calc(100vh - 66px);
  overflow-x: hidden;
}

.creditos {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  font-size: 0.65rem;
  color: #888;
  a {
    color: #24325f;
    &:hover {
      color: #000;
    }
  }
}
